*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: auto;
}
header{
  position: relative;
  width: 98%;
  height: 200px;
  background-color: #FEFE3A;
  margin: 1%;
}

main::after{
  content:"";
  display: block;
  clear: both;
}

/* Colonne del corpo */

.col-left{
  float: left;
  height: 300px;
  width: 23%;
  margin: 0 1%;
  background-color: #CC87DA;
}

.col-center{
  float: left;
  height: 619px;
  width: 50%;
  background-color: #730671;
}

.col-right{
  float: left;
  height: 100%;
  width: 23%;
  margin: 0 1%;
  /* background-color: grey; */
}


/* containers a destra */
.wig1{
  width: 100%;
  height: 300px;
  background-color: #CC87DA;
}

footer{
  position: relative;
  width: 98%;
  height: 150px;
  background-color: #A4D2E1;
  margin: 1%;
}
